# Configuración de Desarrollo
NODE_ENV=development

# Python
PYTHON_PATH=python3

# Tesseract (Windows)
# TESSERACT_PATH=C:\Program Files\Tesseract-OCR\tesseract.exe

# Logging
LOG_LEVEL=INFO

# Build
# CERT_PASSWORD=your-certificate-password
# APPLE_ID=your-apple-id@email.com
# APPLE_ID_PASSWORD=@keychain:AC_PASSWORD
